:root {
    --main: #000;
    --main-rgb: 51, 51, 51;
    color-scheme: light;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.dark {
    --main: #fff;
    color-scheme: dark;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0; /*no margins for all page*/
    color: var(--main);
    min-height: 100vh;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    
    object-fit: cover; /*fits to container*/
}

h1, h2, h3 {
    margin: 0;
}

.header {
    width: 100%;
    padding: 15px 10px 15px 0;
    
    text-align: right;
    font-size: 24px;
    font-weight: 300;
    color: grey;
}

.header a {    
    transition: color 0.3s; /*smoothness on hover*/
}

.header a:hover {
    color: #4facfe;
}

.header_logo {
    color: inherit; /*inherits color from .header */
    text-decoration: none; /*removes underline*/
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center; /*center items vertically*/
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hero_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
}

.hero_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.1;
}

.hero_subtitle {
    font-size: 32px;
    font-weight: 400;
}

.hero_links {
    display: flex;
}

.hero_link {
    margin-right: 10px;
    font-size: 30px; /*font icons*/
    color: var(--main);
    transition: color 0.3s; /*smoothness on hover*/
}

.hero_link:hover {
    color: #4facfe;
}

.hero_box {
    max-width: 500px;
    justify-self: center;
    overflow: hidden;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); /*use gradient from website, image must be without backgroung and in png resolution*/
    border: 10px solid #fff;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    animation: ava-animate 5s infinite alternate;
}

.hero_box-img {
    animation: ava-bg 3s infinite alternate;
}

.footer {    
    padding-top: 50px;
}

footer p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 978px) {
    .header {
        text-align: center;
    }
    .hero {
        padding-top: 30px;
    }
    .hero_container {
        grid-row-gap: 20px;
    }
    .hero_title {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .hero_subtitle {
        font-size: 22px;
        font-weight: 400;
    }
    .hero_description {
        font-size: 14px;
    }
    .hero_about {
        text-align: center;
    }
    .hero_links {
        justify-content: center;
    }
    .hero_box {
        min-width: 350px;
    }
    /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
    .header a {
        float: none;
        display: block;
    }
}

@keyframes ava-animate { /*animate border*/
    0% {
        border-radius: 29% 71% 47% 53% / 82% 22% 78% 18% ; /*use fance border radius site*/
    }
    40% {
        border-radius: 43% 57% 54% 46% / 58% 39% 61% 42% ;
    }
    60% {
        border-radius: 59% 41% 63% 37% / 42% 56% 44% 58% ;
    }
    100% {
        border-radius: 72% 28% 74% 26% / 26% 66% 34% 74% ;
    }
}
@keyframes ava-bg { /*animate gradient background*/
    from { /*can be "from" or "0%"*/
        backdrop-filter: hue-rotate(0);
    }
    to {
        backdrop-filter: hue-rotate(90deg);
    }
}
